@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap");
/*SCSS Variables*/
/*SCSS Mixins*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
}

/*layout*/
.container {
  padding-right: 100px;
  padding-left: 100px;
  margin-right: auto;
  margin-left: auto;
}
.container-fixed {
  padding-right: 100px;
  padding-left: 100px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}

@media (min-width: 768px) {
  .container,
.container-fixed {
    width: 750px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (min-width: 992px) {
  .container,
.container-fixed {
    width: 970px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (min-width: 1280px) {
  .container,
.container-fixed {
    width: 1240px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
.fixed {
  position: fixed;
}

.on-top {
  z-index: 1000;
}

/* HEADER LAYOUT COMPONENT */
.header {
  /* Header - Desktop */
  background-color: white;
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.header-navigation {
  padding-top: 4px;
  height: 56px;
}
.header-navigation--items {
  display: flex;
  align-items: center;
}
.header-navigation--item {
  display: flex;
  align-items: flex-end;
  height: 56px;
}
.header-navigation--item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-decoration: none;
  color: black;
}
.header-logo {
  width: 41px;
  height: 41px;
}
.header-actions {
  /* Actions */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 22px;
  width: 204px;
  height: 40px;
}
.header-actions--container {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  gap: 12px;
}

.navlink-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 19px */
  text-transform: uppercase;
  transition: 0.1s linear;
}
.navlink-border {
  width: 97px;
  height: 2px;
  display: flex;
  background: #ffffff;
  flex: none;
  align-self: stretch;
  transition: 0.1s linear;
  box-shadow: 0 4px 35px 0 rgba(168, 172, 176, 0.19);
}

.header-navigation--item a:active > .navlink-text,
.header-navigation--item a:hover > .navlink-text {
  color: rgb(94, 206, 123);
  font-weight: 600;
}

.header-navigation--item a:active > .navlink-border,
.header-navigation--item a:hover > .navlink-border {
  background-color: rgb(94, 206, 123);
}

.categorypage {
  padding-top: 80px;
}
.categorypage-title {
  font-size: 42px;
  line-height: 67px;
  margin-top: 60px;
  display: block;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
}
.categorypage-items {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.categorypage-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 16px;
  transition: linear 0.1s;
  width: 386px;
}
.categorypage-item:hover {
  box-shadow: 0 4px 35px 0 rgba(168, 172, 176, 0.19);
}
.categorypage-item--image {
  width: 354px;
  height: 330px;
  z-index: 50;
  position: relative;
}
.categorypage-item--name {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-weight: 300;
  font-size: 18px;
  color: black;
  line-height: 160%;
  display: flex;
  align-items: center;
  align-self: stretch;
  margin-top: 24px;
}
.categorypage-item--cart {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0%;
  position: absolute;
  bottom: -26px;
  right: 15px;
  width: 52px;
  height: 52px;
  background-color: rgb(94, 206, 123);
  border-radius: 50%;
  transition: linear 0.1s;
}
.categorypage-item--cart:hover {
  width: 54px;
  height: 54px;
  bottom: -26px;
  right: 14px;
  background-color: rgb(88, 175, 111);
  box-shadow: 0 4px 35px 0 rgba(168, 172, 176, 0.19);
}
.categorypage-item--price {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-weight: 500;
  font-size: 18px;
  color: black;
  line-height: 160%;
  display: flex;
  align-items: center;
  align-self: stretch;
}

.categorypage-item:hover > .categorypage-item--image > .categorypage-item--cart {
  opacity: 100%;
}

/*# sourceMappingURL=App.css.map */
