.productpage {
    padding-top: 160px;
    display: flex;
    justify-content: stretch;
    gap: 30px;
    padding-bottom: 80px;

    &-imagesmin {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &-imagemin {
        display:flex;
        justify-content: stretch;
        border: 1px transparent solid;
        position: relative;
        width: 79.5px;
        height: 80px;
        transition: .1s linear;

        &:hover {
            border: 1px $primary-color solid;
        }

        &--image {
            position:absolute;
            top: 1px;
            left:1.25px;
            width: 75px;
            height: 76px;
        }
    }

    &-product {

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 100px;

        &-sizes {
            display: flex;
            gap: 12px;
            justify-content: flex-start;
        }

        &-size {
            @include size-font;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.05em;

            display: flex;
            justify-content: center;
            align-items: center;
            width: 63px;
            height: 45px;
            border: 1px solid black;
            transition: .1s linear;

            &:hover {
                background-color: black;
                color: white;
            }
        }

        &-colors {
            display: flex;
            gap: 8px;
        }

        &-colorbox {
            width: 36px;
            height: 36px;
            border: 1px transparent solid;
            position: relative;
            transition: .1s linear;

            &:hover {
                border: 1px $primary-color solid;
            }
        }

        &-color {
            width: 32px;
            height: 32px;
            position: absolute;
            left: 1px;
            top: 1px;

            background-color: blue;

        }

        &--image {
            width: 610px;
        }

        &-description {
            width: 292px;
            display: flex;
            flex-direction: column;
            gap: 16px;

            &--brand {
                @include primary-font;
                font-size: 30px;
                font-weight: 600;
                line-height: 27px;
            }

            &--name {
                @include primary-font;
                font-size: 30px;
                font-weight: 400;
                line-height: 27px;
                margin-bottom: 27px;
            }

            &--header {
                @include secondary-font-condensed;
                font-size: 18px;
                line-height: 18px;
                font-weight: 700;
                margin-bottom: 8px;
                text-transform: uppercase;
            }

            &--price {
                @include primary-font;
                font-weight: 700;
                font-size: 24px;
                line-height: 18px;

            }

            &--btn {
                @include primary-font;
                font-weight: 600;
                font-size: 16px;
                line-height:19.2px;
                color: white;
                text-transform: uppercase;

                background-color: $primary-color;
                
                display: flex;
                justify-content: center;
                padding: 16px 32px;
                border: none;
                transition: .1s linear;
                
                &:hover {
                    background-color: $primary-color-darkened;
                    box-shadow: 0 4px 35px 0 rgba(168, 172, 176, 0.19);
                  }
            }

            &--text {
                @include secondary-font;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
            }
        }
    }
}

@media (max-width: 991px) {
    .productpage {
        flex-direction: row-reverse;
        justify-content: center;
        gap: 10px;
        
        &-product {
            flex-direction: column;
            gap: 50px;

            &--image {
                width: 21.5em;
            }

            &-description {
                margin: 0 auto;
            }
        }

    }
  }
@media (min-width: 992px) {
    .productpage {
        flex-direction: row-reverse;
        justify-content: center;
        
        
        &-product {
            flex-direction: column;
            gap: 50px;
            

            &--image {
                width: 30em;
            }

            &-description {
                margin: 0 0;
            }
        }

    }
  }
@media (min-width: 1280px) {
    .productpage {
        flex-direction: row;
        justify-content: flex-start;
        

        &-product {
            flex-direction: row;
            gap: 50px;

            &--image {
                width: 610px;
            }

            &-description {
                margin: 0 0;
            }
        }
    }
  }