

.product {
            
    &-title {
            
        display: flex;
        flex-direction: column;
        gap: 16px;

        &--brand {
            @include primary-font;
            font-size: 30px;
            font-weight: 600;
            line-height: 27px;
        }

        &--name {
            @include primary-font;
            font-size: 30px;
            font-weight: 400;
            line-height: 27px;
        }
    }

    &-sectiontitle {
        @include secondary-font-condensed;
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &-price {
        @include primary-font;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
    }

    &-description {
        @include secondary-font;
        padding: 20px 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &-disabled-btn {
        @include primary-font;
        font-weight: 600;
        font-size: 16px;
        line-height:19.2px;
        color: black;
        text-transform: uppercase;

        display: flex;
        justify-content: center;
        padding: 16px 32px;
        border: none;

        background-color:rgb(114, 114, 114)
    }
        
    &-primary-btn {
        @include primary-font;
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
        line-height:19.2px;
        color: white;
        text-transform: uppercase;
            
        background-color: $primary-color;
                
        display: flex;
        justify-content: center;
        padding: 16px 32px;
        border: none;
        transition: .1s linear;
                
        &:hover {
            background-color: $primary-color-darkened;
            box-shadow: 0 4px 35px 0 rgba(168, 172, 176, 0.19);
            }
        }

        &-colors {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
        }

        &-colorbox {
            cursor: pointer;
            width: 36px;
            height: 36px;
            border: 1px transparent solid;
            position: relative;
            transition: .1s linear;
            box-shadow: 0 4px 35px 0 rgba(168, 172, 176, 0.6);
            border: 3px transparent solid;

            &:hover {
                border: 3px $primary-color solid;
            }

            &-active {
                border: 3px $primary-color solid;
            }
        }

        &-color {
            width: 28px;
            height: 28px;
            position: absolute;
            left: 1px;
            top: 1px;

            background-color: blue;

        }

        &-sizes {
            display: flex;
            gap: 8px;
            justify-content: flex-start;
            flex-wrap:wrap;
        }

        &-size {
            @include size-font;
            cursor: pointer;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.05em;
            background-color: white;

            display: flex;
            justify-content: center;
            align-items: center;
            width: 63px;
            height: 45px;
            border: 1px solid black;
            transition: .1s linear;

            &:hover {
                background-color: black;
                color: white;
            }

            &-active {
                background-color: black;
                color: white;
            }
        }
    }
