
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

/*SCSS Variables*/
$primary-color: rgb(94, 206, 123);
$primary-color-darkened: rgb(88, 175, 111);

/*SCSS Mixins*/
@mixin primary-font {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
}

@mixin secondary-font {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin secondary-font-condensed {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin size-font {
  font-family: 'Source Sans Pro', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 .App {
  position: relative;
  margin: 0 auto;
  padding: 0 12px;
 }

 /*layout*/

 .container {
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;

    &-fixed {
      padding-right: 100px;
      padding-left: 100px;
      position: fixed;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
  @media (max-width: 768px) {
    .container {
      width: 90vw;
      padding-right: 0px;
      padding-left: 0px;
      margin: 0;
    }
    .container-fixed {
      width: 100vw;
      background-color: white;
      padding-right: 10px;
      padding-left: 10px;
      margin: 0;
    }
  }
  @media (min-width: 768px) {
    .container,
    .container-fixed {
      width: 750px;
      padding-right: 0px;
      padding-left: 0px;
    }
  }
  @media (min-width: 992px) {
    .container,
    .container-fixed {
      width: 970px;
      padding-right: 0px;
      padding-left: 0px;
    }
  }
  @media (min-width: 1280px) {
    .container,
    .container-fixed {
      width: 1240px;
      padding-right: 0px;
      padding-left: 0px;
    }
  }

.fixed {
  position: fixed;
}

.on-top {
  z-index: 1000;
}

.bg-white {
  background: white;
  margin: 0;
  width: 100vw;
}

/*OVERLAY CONTAINERS FOR DROPDOWNS*/
.overlay-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 80px;
  left:0;
  background-color: rgba(57, 55, 72, 0.22);
  z-index: 1000;

  &-transparent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 80px;
    left:0;
    background-color: transparent;
    z-index: 1000;
  }
}


@import './pdppage-styles.scss';
@import './header-styles.scss';
@import './categorypage-styles.scss';
@import './product-styles.scss';
@import './cartpage-styles.scss';
@import './loader-styles.scss';
@import './cartdropdown-styles.scss';
@import './currencydropdown-styles.scss';



::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-color;;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary-color-darkened;
}
