@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');

/*SCSS Variables*/
$primary-color: rgb(94, 206, 123);
$primary-color-darkened: rgb(88, 175, 111);

/*SCSS Mixins*/
@mixin primary-font {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 .App {
  position: relative;
 }

 /*layout*/

 .container {
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;

    &-fixed {
      padding-right: 100px;
      padding-left: 100px;
      position: fixed;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
  @media (min-width: 768px) {
    .container,
    .container-fixed {
      width: 750px;
      padding-right: 0px;
      padding-left: 0px;
    }
  }
  @media (min-width: 992px) {
    .container,
    .container-fixed {
      width: 970px;
      padding-right: 0px;
      padding-left: 0px;
    }
  }
  @media (min-width: 1280px) {
    .container,
    .container-fixed {
      width: 1240px;
      padding-right: 0px;
      padding-left: 0px;
    }
  }

.fixed {
  position: fixed;
}

.on-top {
  z-index: 1000;
}


@import './pdp-styles.scss';
@import './header-styles.scss';
@import './categorypage-styles.scss'



